body {
    font-family: Epilogue;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    /* padding: 8.75rem 13.75rem 3.125rem 13.75rem; */
    padding: 11.11% 15.28% 4.17% 15.28%;
}

a {
    color: #2B2B2B;
    text-decoration: none;
}

h1 {
    color: #2B2B2B;
    font-family: Epilogue;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.0625rem;
}

p {
    color: #A0A1A4;

    /* Body text */
    font-family: Epilogue;
    /* font-size: 1rem; */
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 150% */
}

.author_image {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 0.9375rem;
}

.author_image img {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
}

.container-1 .image {
    width: 100%;
    padding-bottom: 1rem;
}

.container-2 {
    align-self: stretch;
    border-radius: 1.0625rem;
    position: relative;
}

p {
    width: 80%;
}

.container-1 .btn {
    /* flex-shrink: 0;
    border-radius: 2.875rem;
    color: #1976D2;
    border: 1px solid #1976D2;
    width: 15%;*/
    line-height: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 0.5rem;

    flex-shrink: 0;
    border-radius: 2.875rem;
    color: #1976D2;
    border: 1px solid #1976D2;
    width: 7rem;
    margin-top: 1rem;
}

.container-2 a {
    color: blue;
    opacity: 0.8;
}

.container-2 img {
    margin: auto 0;
    width: 100%;
}

.container-3 {
    padding-top: 3.125rem;
}

.container-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
}

.container-4 h2 {
    margin: auto;
}


.footer {
    color: #2D2D2D;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}

.footer li {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
}


.news-letter input,
.news-letter button {
    border-radius: 5px;
}

.logo-list ul {
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
}

.logo-list img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}


.container-5 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    /* padding: 6.25rem 13.75rem 6.25rem 13.75rem; */
    padding: 11.11% 15.28% 4.17% 15.28%;
}

.card {
    border: none;
    padding: 10px;
}

.container-5 .btn {
    flex-shrink: 0;
    border-radius: 2.875rem;
    color: #1976D2;
    border: 1px solid #1976D2;
    width: 7rem;
    margin-top: 1rem;
}

#share_image:hover {
    cursor: pointer;
}

/* .share_list {
    list-style: none;
    background-color: white;
    box-shadow: white;
    font-family: Epilogue;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    opacity: 0.8; */
/* display: none; */
/* visibility: hidden;
} */

.share_list li {
    padding: 2%;
}

.share_list li:hover {
    cursor: pointer;
}

#share_image {
    border-radius: 0;
    transform: rotate(10deg);
    opacity: 0.5;
    width: 5%;
    height: 5%;
}


.mode-switch {
    position: relative;
    display: inline-block;
    width: 50%;
}

.mode-switch input {
    display: none;
}

.mode-switch label {
    position: absolute;
    top: 10%;
    left: 70%;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.mode-switch label:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.mode-switch input:checked+label {
    background-color: #333;
}

.mode-switch input:checked+label:before {
    transform: translateX(20px) translateY(-50%);
}

body.dark-mode {
    background-color: #2B2B2B;
    color: #fff;

    .container-5>* {
        background-color: #2B2B2B;
        color: white;

        p {
            color: white;
        }
    }
}

#loading-screen {
    display: flex;
    position: fixed;
    /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    /* Cover the full width */
    height: 100%;
    /* Cover the full height */
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    z-index: 1000;
    /* Ensure it's on top */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

#loading-message {
    font-size: 20px;
    color: #1990FF;
    margin-left: 50.5%;
    margin-top: 10%;
}

#loading-screen .progress-bar {
    border: 2px solid #1990FF;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 55%;
    left: 53%;
    margin-top: -20px;
    /* Half of the height */
    margin-left: -20px;
    /* Half of the width */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.hidden {
    display: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item {
    position: relative;
}

.nav-link .search_icon {
    background: transparent;
}

.nav-link:hover,
.nav-link.active {
    color: white;
}

.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: -3px;
    height: 3px;
    margin: 5px;
    /* width: 60%; */
    background-color: white;
    visibility: hidden;
}

.nav-link.active::after,
.nav-link:hover::after {
    visibility: visible;
}

.inter_data {
    display: flex;
    flex-direction: column;
    width: 34%;
}

.box {
    border-radius: 0.3125rem;
    border: 1px solid #F4F6F8;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 6.1875rem;
    height: 6rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.box .share-item:hover {
    background-color: #F4F6F8;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* .slider */

.slider {
    max-width: 300px;
    /* border: 2px solid black; */
    margin: 0;
}

.fontSizeContainer {
    display: flex;
    justify-content: space-between;
}

.fontSizeContainer span {
    display: block;
    text-align: center;
    width: 20%;
}

#sliderFontSize {
    width: 100%;
}

#fontSizeLabel {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}


@media (min-width: 375px) and (max-width: 700px) {
    .container-2 {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 1rem 2rem;
    }

    .container-2>* {
        width: 100%;
    }

    nav {
        position: fixed;
        z-index: 1000;
        background-color: #2B2B2B;
        width: 100%;
    }

    .mode-switch label {
        position: absolute;
        top: 10%;
        left: 125%;
    }
}


#suggestionContainer {
    position: absolute;
    top: 80px;
    width: 50vw;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

#suggestionList {
    max-height: 200px;
    overflow-y: auto;
}

#suggestionList>*:hover {
    cursor: pointer;
}


li .list-group-item {
    background-color: white;
    color: #2B2B2B;
}