body {
    font-size: 1rem;
}

.hidden {
    display: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item {
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-link:hover::before {
    width: 50%;
    left: 25%;
}


.homepage_container {
    display: flex;
    padding: 11.11% 15.28% 4.17% 15.28%;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    align-self: stretch;
}

.homepage_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;
}

.homepage_header .homepage_image {
    width: 100%;
    height: 450px;
    border-radius: 1.0625rem;
    overflow: hidden;
}

.homepage_header .homepage_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage_header .btn {
    border-radius: 0%;
    height: auto;
}

.container-1 .btn {
    flex-shrink: 0;
    border-radius: 2.875rem;
    color: #1976D2;
    border: 1px solid #1976D2;
    width: 7vw;
    margin-top: 1rem;
}

.container-2 .btn {
    flex-shrink: 0;
    border-radius: 2.875rem;
    color: #1976D2;
    border: 1px solid #1976D2;
    width: 7vw;
    margin-top: 1rem;
}

.frame_content {
    color: #2B2B2B;
    opacity: 0.6;
}

.frame_content p {
    margin-bottom: 0.25rem;
}

desc {
    width: 73%;
}

.desc p {
    color: #2B2B2B;
    opacity: 0.6;
}


.container-1 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: #1976D2 2px solid;
    padding: 6.25rem 13.75rem 6.25rem 13.75rem;
}

.container-2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* border: #1976D2 2px solid; */
    padding: 6.25rem 13.75rem 6.25rem 13.75rem;
}


.card {
    border: none;
    padding: 10px;
}

.show_more_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.show_more_div .btn {
    color: white;
    border-radius: 0%;
}